@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

button, select, input, textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: inherit;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 6rem;
    height: 100vh;
    background-color: var(--color-light-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
}

:root {
    --color-light-grey: #f8fafb;
    --color-medium-grey: #e5e5e5;
    --color-dark-grey: #d1d4db;
    --color-blue: #3e6ff4;
    --color-dark-blue: #001D3D;
    --color-black: #000000;
    --color-white: #ffffff;
}

h1 {
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
}

.button-b-primary {
    color:var(--color-white);
    background-color: var(--color-blue);
    border-radius: 0.5rem;
    border: none;
    padding: 0.75rem 1.125rem;
    max-width: fit-content;
    max-height: fit-content;
    cursor: pointer;
}

.button-b-primary:hover {
    background-color: #255cf5;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

label {
    margin: 1rem 0 0.5rem 0;
    font-size: 0.85rem;
}

.input-password {
    display: flex;
    flex-direction: column;
}

.input-text {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid var(--color-medium-grey);
    border-radius: 8px;
    padding: 10px 15px;
    color: #333;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    width: 100%
}

.input-text:hover {
    border-color: #aaa;
}

.input-text:focus {
    border-color: #5c9cff;
    box-shadow: 0 0 3px rgba(92, 156, 255, 0.5);
}

.division-hr {
    height: 1px;
    background-color: var(--color-medium-grey);
    border: none;
    margin: 0.75rem 0;
}

.password-container {
    background-color: var(--color-white);
    border-radius: 12px;
    border: 1px solid var(--color-dark-grey);
    padding: 2rem;
    min-width: 40rem;
}

.buttons-container {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.icons {
    width: 1.5rem;
    height: 1.5rem;
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .button-a-primary {
        padding: 1rem 1.5rem;;
    }

    .password-container {
        width: 90vw;
        min-width: unset;
    }
}

@media (min-width: 1400px) {
    html {
        font-size: 18px;
    }
}