.offer-info {
    width: 100%;
}

.info-content {
    display: flex;
    gap: 1rem;
}

.demand-description {
    margin: 1rem 0;
}

.info-content div {
    flex: 1;
}

.p-info {
    color: gray;
    font-size: 14px;
}

.demand-buttons {
    display: flex;
    gap: 1rem;
    justify-content: end;
    margin: 1rem 0;
}

@media (max-width: 768px) {
    .info-content {
        flex-direction: column;
    }
}
